target/release/server filter=lfs diff=lfs merge=lfs -text
target/release/emergency_stop_all filter=lfs diff=lfs merge=lfs -text
target/release/examples/get_bus_state filter=lfs diff=lfs merge=lfs -text
